.actions-row {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    padding-right: -15px;
}

.actions-row .btn {
    height: 34px;
}

.actions-row .btn-default {
    margin-left: 10px;
}

.product-search {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}